openapi: 3.0.0
info:
  title: Quiz App API
  description: API specification for the Quiz Application
  version: 1.0.0
servers:
  - url: https://us-central1-cprg-303-quizzy-app.cloudfunctions.net/api
    description: Production server

paths:
  /save-quiz-result:
    post:
      tags:
        - Quiz Results
      summary: Save Quiz Result
      description: Save the result of a quiz under a user's profile.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SaveQuizResultRequest"
      responses:
        "200":
          description: Quiz result saved successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "400":
          description: Missing or invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /login:
    post:
      tags:
        - Authentication
      summary: User Login
      description: Allow users to log in with their email.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Login successful
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        default:
          description: Default error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /user-profile:
    get:
      tags:
        - User
      summary: Get User Profile
      description: Retrieve user profile details and their quiz history.
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: The ID of the user whose profile is requested.
      responses:
        "200":
          description: User profile details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /quiz-categories:
    get:
      tags:
        - Quiz
      summary: Get Quiz Categories
      description: Retrieve a list of available quiz categories.
      responses:
        "200":
          description: List of quiz categories
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuizCategories"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /questions:
    get:
      tags:
        - Quiz
      summary: Get Questions
      description: Retrieve questions for a specific quiz category.
      parameters:
        - name: categoryId
          in: query
          required: true
          schema:
            type: string
          description: The ID of the category to retrieve questions for.
      responses:
        "200":
          description: List of questions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Questions"
        "404":
          description: No questions found for the given category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /leaderboards:
    get:
      tags:
        - Leaderboards
      summary: Get Global Leaderboards
      description: Retrieve global leaderboards by quiz category.
      responses:
        "200":
          description: Leaderboards data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Leaderboards"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /popular-quizzes:
    get:
      tags:
        - Quiz
      summary: Get Popular Quizzes
      description: Retrieve a list of the most popular quizzes.
      responses:
        "200":
          description: List of popular quizzes
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuizList"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /quizzes-by-category:
    get:
      tags:
        - Quiz
      summary: Get Quizzes by Category
      description: Retrieve all quizzes for a specific category.
      parameters:
        - name: categoryId
          in: query
          required: true
          schema:
            type: string
          description: The ID of the category to retrieve quizzes for.
      responses:
        "200":
          description: List of quizzes for the given category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/QuizList"
        "404":
          description: No quizzes found for the given category
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /random-quiz:
    get:
      tags:
        - Quiz
      summary: Get Random Quiz
      description: Retrieve a random quiz from the collection of quizzes.
      responses:
        "200":
          description: Random quiz details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quiz"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /quiz-with-questions:
    get:
      tags:
        - Quiz
      summary: Get Quiz with Questions
      description: Retrieve a specific quiz along with its corresponding questions.
      parameters:
        - name: quizId
          in: query
          required: true
          schema:
            type: string
          description: The ID of the quiz to retrieve.
      responses:
        "200":
          description: Quiz with questions
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Quiz"
        "404":
          description: Quiz not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /user-stats:
    get:
      tags:
        - User
      summary: Get User Stats
      description: Retrieve user statistics, including total points, world rank, best category rank, quizzes played by time, and top performance by category.
      parameters:
        - name: userId
          in: query
          required: true
          schema:
            type: string
          description: The ID of the user whose stats are requested.
      responses:
        "200":
          description: User stats
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserStats"
        "404":
          description: User not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

components:
  schemas:
    SaveQuizResultRequest:
      type: object
      properties:
        userId:
          type: string
          description: The unique ID of the user.
        quizId:
          type: string
          description: The unique ID of the quiz.
        categoryId:
          type: string
          description: The category ID of the quiz.
        totalScore:
          type: integer
          description: The total score achieved by the user.
        scoreBreakdown:
          type: array
          items:
            type: object
            properties:
              question_id:
                type: string
                description: The ID of the question.
              score:
                type: integer
                description: The score achieved for the question.

    LoginRequest:
      type: object
      properties:
        email:
          type: string
          format: email

    LoginResponse:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the user.
        email:
          type: string
          format: email
          description: The email of the user.

    UserProfile:
      type: object
      properties:
        id:
          type: string
          description: The unique ID of the user.
        username:
          type: string
          description: The username of the user.
        avatar:
          type: string
          format: uri
          description: URL of the user's avatar image.
        email:
          type: string
          format: email
        country:
          type: string
        quizzes_played:
          type: array
          items:
            type: object
            properties:
              quiz_id:
                type: string
              category_id:
                type: string
              completion_date:
                type: string
                format: date-time
              total_score:
                type: integer
              score_breakdown:
                type: array
                items:
                  type: object
                  properties:
                    question_id:
                      type: string
                    score:
                      type: integer

    QuizCategory:
      type: object
      properties:
        id:
          type: string
          description: The unique identifier for the quiz category.
        name:
          type: string
          description: The name of the quiz category.
        imageUrl:
          type: string
          format: uri
          description: The URL for an image representing the quiz category.
          example: "https://example.com/path-to-image.jpg"

    QuizCategories:
      type: array
      items:
        $ref: "#/components/schemas/QuizCategory"

    Questions:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          question_id:
            type: string
          question_text:
            type: string
          answers:
            type: array
            items:
              type: object
              properties:
                option:
                  type: string
                is_correct:
                  type: boolean

    Leaderboards:
      type: array
      items:
        type: object
        properties:
          id:
            type: string
          category:
            type: string
          top_players:
            type: array
            items:
              type: object
              properties:
                username:
                  type: string
                rank:
                  type: integer
                score:
                  type: integer
                userId:
                  type: string
                avatar:
                  type: string

    Quiz:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        imageUrl:
          type: string
          format: uri
        category_id:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        play_count:
          type: integer
        questions:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              question_text:
                type: string
              answers:
                type: array
                items:
                  type: object
                  properties:
                    option:
                      type: string
                    is_correct:
                      type: boolean

    QuizList:
      type: array
      items:
        $ref: "#/components/schemas/Quiz"

    SuccessResponse:
      type: object
      properties:
        message:
          type: string
          description: Success message.

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: A description of the error.

    UserStats:
      type: object
      properties:
        totalPoints:
          type: integer
          description: Total points the user has earned.
        worldRank:
          type: integer
          description: The user's rank in the global leaderboard.
        bestCategory:
          type: string
        quizzesPlayed:
          type: object
          properties:
            daily:
              type: integer
              items:
                type: integer
              description: Quizzes played daily.
            monthly:
              type: integer
              items:
                type: integer
              description: Quizzes played monthly.
            yearly:
              type: integer
              items:
                type: integer
              description: Quizzes played yearly.
        topPerformanceByCategory:
          type: array
          items:
            type: object
            properties:
              categoryName:
                type: string
              categoryId:
                type: string
              score:
                type: integer
